.book-card {
  border-bottom: 1px solid grey;
  padding: 10px;
}

.book-card td {
  padding: 0 15px;
}

.book-card td.left-column {
  text-align: right;
}

.book-card td.right-column {
  text-align: left;
}
